.git
.gitignore
.dockerignore
.env
.env.*
.python-version

.ruff_cache
.pytest_cache
.mypy_cache
.coverage
htmlcov
__pycache__
*.py[cod]
*.pyo
*.pyd

.venv
venv
env

.vscode
.idea
*.swp
*.swo
*~

docker-compose.yml
CONTRIBUTING.md
