# Copy this file to a new file named .env and fill in the values for your personal environment variables.
# You can run cp example.env .env on the command line or just create the new file in your IDE
DISCORD_TOKEN=
FEATURE_FORUM_CHANNEL_ID=
ROLE_CHANNEL_ID=
# false or true 
USE_DEFAULT_REMINDER_RULES=

# Optional. Defaults to ./database/byte_bot.db -- if you change default value.. dont forget to update volumes in docker compose
DATABASE_PATH=

# Optional default values for reminders
REMINDER_CHECK_LOOP_TIME= # in seconds
SYNC_REMINDER_LOOP_TIME= # In minutes
REMINDER_TIME_THRESHOLD= # In seconds
DEFAULT_REMINDER_CHANNEL=
REMINDER_TIMES_BEFORE_EVENT= # In minutes values separated by commas i.e. "10,1440"
