# Copy this file to a new file named .env and fill in the values for your personal environment variables.
# You can run cp example.env .env on the command line or just create the new file in your IDE
DISCORD_TOKEN=